<div class="jumbotron">
	<h1>
		Tech Talent Elementary
	</h1>
	<h3>
		A lifetime of learning...
	</h3>
	<div id="little-space"></div>
	<div class="row">
		<div class="col-md-2 col-md-offset-2 center-it">
			<%= link_to "Students", students_path, class: "btn btn-success" %>
		</div>
		<div class="col-md-2 col-md-offset-1 center-it">
			<%= link_to "Teachers", teachers_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-2 col-md-offset-1 center-it">
			<%= link_to "Pets", pets_path, class: "btn btn-warning" %>
		</div>
	</div>
</div>

